@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --black: #000;
    --dark-gray: #5E5E5E;
    --gray: #9C9C9C;
    --light-gray: #D9D9D9;
    --white: #FFF;
}

body{
    font-family: "Poppins", sans-serif;
    overflow: auto;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 75px;
    gap: 40%;
    background-color: var(--light-gray);
}

header h1{
    font-weight: 600;
    font-size: 24px;
}

nav{
    display: flex;
    justify-content: space-between;
    gap: 7rem;
}

nav a{
    text-decoration: none;
    font-size: 18px;
    color: var(--black);
}

.home{
    background-color: var(--gray);
    height: 500px;
    padding: 3rem 4rem;
}

.sobre-mim{
    height: 600px;
    padding: 3rem 6rem;
}

.sobre-mim--card{
    background-color: var(--light-gray);
}

.projetos{
    background-color: var(--light-gray);
    height: 500px;
    padding: 3rem 6rem;
}

button{
    background-color: var(--black);
    border: none;
    color: var(--white);
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
}

footer{
    height: 350px;
    padding: 3rem 6rem;
}