@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --black: #000;
    --dark-gray: #5E5E5E;
    --gray: #9C9C9C;
    --light-gray: #D9D9D9;
    --white: #FFF;
}

body{
    font-family: "Poppins", sans-serif;
    overflow: auto;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 75px;
    gap: 40%;
    background-color: var(--light-gray);
}

h1{
    font-weight: 600;
    font-size: 24px;
}

nav{
    display: flex;
    justify-content: space-between;
    gap: 7rem;
}

nav a{
    text-decoration: none;
    font-size: 18px;
    color: var(--black);
}

.home{
    display: flex;
    color: var(--white);
    font-weight: 600;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gray);
    height: 500px;
    padding: 3rem 5rem;
} 

.home img{
    padding-right: 4rem;
    height: 400px;
}

.home--texto-saudacao{
    font-size: 24px;
}

.home--texto-desc{
    font-weight: 500;
    font-size: 18px;
    margin-top: 1rem;
}

.home--texto button{
    margin-top: 1rem;
    font-size: 18px;
    font-weight: 300;
    padding: 0.8rem 2rem;
}

.sobre-mim{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 600px;
    padding: 3rem 6rem;
}

.sobre-mim h2{
    font-size: 24px;
}

.sobre-mim--cards{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 4.5rem;
    align-items: center;
}

.sobre-mim--card{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 180px;
    background-color: var(--light-gray);
}

.sobre-mim--card--texto{
    padding: 2rem;
}

.sobre-mim--card img{
    width: 200px;
    height: 100%;
}

.projetos{
    background-color: var(--light-gray);
    height: 500px;
    padding: 3rem 6rem;
}

button{
    background-color: var(--black);
    border: none;
    color: var(--white);
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
}

footer{
    height: 350px;
    padding: 3rem 6rem;
}